page-home {
    .operacoes {
        padding: 10px;
        text-align: center;
        top: 50%; 
    }
    .resultado {
        padding: 10px;
        text-align: center;
        top: 50%;
        
    }

}
